---
const { frontmatter } = Astro.props;
import '../pages/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

function tagString(tags: any) {
	let tagString;
	for (let i = 0; i < tags.length; i++) {
	if (i === 0) {
		tagString = '#' + tags[i];
	} else {
		tagString = tagString + " " + '#' + tags[i];
	}
	}
	return tagString;
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TuxPress | {frontmatter.title}</title>
	</head>
	<body>
		<div class="min-h-screen bg-base">
			<div class="flex justify-center">
				<div class="w-11/12 md:w-7/12">
					<h1 class="pt-5"><a href="/" class="text-text">{'>'}_ The Tux Press</a></h1>
					<Header />
					<div class="pt-5">
						<h1 class="pb-1">{frontmatter.title}</h1>
						<p class=" pb-1">{frontmatter.date} :: {frontmatter.author}</p>
						<p class="text-overlay2 pb-5">{tagString(frontmatter.tags)}</p>
					</div>
					<slot />
					<div class="h-20"></div>
					<script src="https://giscus.app/client.js"
						data-repo="sherlockholmestech/tuxpress"
						data-repo-id="R_kgDOIsQ--A"
						data-category="giscus"
						data-category-id="DIC_kwDOIsQ--M4CTWM3"
						data-mapping="pathname"
						data-strict="1"
						data-reactions-enabled="1"
						data-emit-metadata="0"
						data-input-position="top"
						data-theme="dark"
						data-lang="en"
						crossorigin="anonymous"
						async>
					</script>
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>